body{
	font-family: 'Amatic SC', cursive;
	max-width: 610px;
	background-color: #777;
	margin: 0 auto;
}

header {
	background-image: url("images/guitar.jpg");
	background-size: cover;
	margin: 20px auto 10px auto;
	border-radius: 10px;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
}

h1{
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	background: linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;

}

ul {
	color: white;
	padding: 10px 0 5px 0;
	margin: 113px auto 0 auto;
	border-radius: 10px;
	background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.contact {
	margin: 10px 10px 20px 10px;
	padding: 0 0 10px 0;
	background: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

li {
	display: inline;
	padding: 0 100px 20px 100px;
}

.details {
	display: block;
	padding: 5px 5px;
}

a {
	color: white;
	text-decoration: none;
}

h2{
	color: white;
	margin: 0 0 10px 0;
	padding: 15px;
	text-align: left;
	font-size: 30px;
	background: rgba(135, 39, 43, .75);
	border-radius: 10px 10px 0 0;
}

span {
	vertical-align: top;
	float: right;
	font-size: 25px;
}

img {
	height: 150px;
	width: 150px;
	border: 5px solid rgba(135, 39, 43, .75);
	border-radius: 10px;
	margin: 0 10px 0 0;
	position: relative;
	float: left;
}

div {
	background-size: cover;
	position: relative;

}

p{
	color: white;
	min-height: 160px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	text-align: justify;
	margin: 0 0 10px 0;
	padding: 0 10px 10px 10px;
}

article {
	margin: 10px, auto;
	max-width: 610px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}

.underline {
	text-decoration: underline;
	float: none;
	font-size: 100%;
}

.mainpic {
	background-image: url("images/full_farmer.jpg");
	height: 150px;
	width: 150px;
	border: 5px solid black;
	/*border-top-color: rgba(11, 138, 0, 1);
	border-bottom-color: rgba(50, 99, 227, 1);
	border-right-color: rgba(247, 209, 35, 1);
	border-left-color: rgba(204, 9, 0, 1);*/
	border-radius: 80px 80px 80px 80px;
	margin: 125px auto 0 auto;
	position: relative;
	left: 40px;
	top: -75px;
}

@media (max-width: 500px) {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		padding: 10px;
		display: block;
		text-align: center;
	}
	.mainpic {
		left: 0;
		top: -55px;
	}
}