<header>
	<h1>tedward</h1><div id='line'></div><div><span>iO</span></div>
</header>
<div id='intro'>
	<p>Hi! I'm Ted, a full stack web developer based in NYC
	</p>
	<p>

	</p>
	<p>You may know me from my work in the classic TV sitcom "The Way I Happened Upon The Woman You Call Mom" or possibly from my famous talk<span class='elipsis'>s...</span>I talk a great deal about a great many subjects
	</p>
	<p>I hope you can get to know me better from my selected projects below or on <a href="https://github.com/tedwardmah">github</a></p>
</div>

<div id='contact-info-container'>
	<div id='contact-info-content'>
		<h3>CONTACT</h3>
		<ul>
			<a href='http://www.linkedin.com/in/tedmah'>
				<li class='contact-item' data-dummyText='<%%= connect %>' data-displayText="linkedin">
					linkedin
				</li>
			</a>
			<li class='contact-item' data-dummyText='<%%= github %>' data-displayText='@tedwardmah'>
				@tedwardmah
			</li>
			<a href="mailto:ted.mahoney22@gmail.com">
				<li class='contact-item' data-dummyText='<%%= email %>' data-displayText='ted[.]mahoney22[@]gmail[.]com'>
					ted[.]mahoney22[@]gmail[.]com
				</li>
			</a> 
		</ul>
	</div>
</div>

<div id='projects-container'>
	<div class='project' id='livetrain'>
		<img src="" alt="">
	</div>
	
</div>