body {
	font-size: 20px;
	background-image: url('/images/brushed.png');
}

a {
	text-decoration: none;
	color: rgb(110, 110, 110);
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a:visited {
	color: rgb(110, 110, 110);
}

a[href="mailto:ted.mahoney22@gmail.com"] {
	text-decoration: none;
	color: black;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a[href="mailto:ted.mahoney22@gmail.com"]:visited {
	color: black;
}

a:hover {
	border-bottom: 3px dotted rgb(110, 110, 110);
}

header {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   cursor: default;
   margin-bottom: 0;
   padding-top: 1%;
   padding-bottom: 1%;
   margin-bottom: 5%;
   border-bottom: 3px solid black;
   background-color: rgba(0,0,0, 0.15);
}

header h1 {
	margin-left: 10%;
	display: inline-block;
	vertical-align: middle;
}

#line {
	width:0;
	height: 70px;
	border-left: 4px solid black;
	display: inline-block;
}

header div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: black;
	color: #e67e22;
	width: 60px;
	height: 60px;
	margin-left: 5px;
	border-radius: 50px;
	line-height: 60px;
}

header span {
	position: relative;
	top: -2px;
	left: 1px;
	font-size: 2em;
	font-weight: lighter;
	vertical-align: middle;
}

#intro {
	display: inline-block;
	float: left;
	font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono";
	max-width: 40%;
	min-width: 30%;
	padding: 4% 5% 4% 0;
	margin-left: 10%;
	/*margin-right: 10%;*/
	font-size: .9em;
	text-align: center;
	cursor: default;
	border-right: 2px solid black;
	/*background-color: lightgreen;*/
}

#intro p {
	text-align: left;
	text-align: justify;
	font-size: 90%;
	line-height: 150%;
}

.elipsis {
	letter-spacing: 4px;
}

#contact-info-container {
	float: left;
	display: inline-block;
	/*font-family: monaco;*/
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	/*background-color: lightblue;*/
	margin: 2% 5% 0 5%;
	padding: 0;
}

#contact-info-content {
	/*background-color: lightgrey;*/
	min-width: 325px;
}

#contact-info-content h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 3%;
	text-align: right;
	border-bottom: 1px solid #e67e22;
}

#contact-info-content ul {
	font-size: 90%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 3%;
	text-align: right;
}

#contact-info-content li {
	padding: 2% 0;
	cursor: default;
}

#contact-info-content a {
	color: black;
}

#contact-info-content a:visited {
	color: black;
}





